.flex { display: flex; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.space-between { justify-content: space-between; }
.uppercase { text-transform: uppercase; }
.semibold { font-weight: 700; }
.mx-2 { margin-left: 12px; margin-right: 12px; }
.my-2 { margin: 12px 0; }
.flex-wrap { flex-wrap: wrap; }
.container { padding: 0 10vw; }
.containerHeader { padding: 0 10vw; }
